*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f4f6f9;
    color:#333;
}

header{
    background:#0d6efd;
    color:white;
    padding:15px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:500;
}

nav a:hover{
    color:#dbe7ff;
}

.container{
    width:80%;
    margin:auto;
    padding:40px 0;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}

.btn{
    background:#0d6efd;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.btn:hover{
    background:#0b5ed7;
}